#main-container{
   width:900px;
   height:1920px;
   margin-right: auto;
   margin-left: auto;
   background: grey;
}

#header{
	position:relative;
	height:300px;
	width:100%;
    
}

#footer{
  position:relative;
	height:50px;
	width:100%;

}