/* ==== LAYOUT.ERB :: overall for the app ==== */

@font-face {
  font-family: "Hallo";
  src: url(Hallosans.eot);
  src: local('Hallo sans'), url(HallosansBlack.otf) format('opentype');
}

* {
  font-family: Georgia;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: black;
}

.main-container {
   width:1000px;
   margin:0 auto;
   background: white;
   border-radius: 5px;
}

#header {
  position: relative;
  height: 150px;
  width: 100%;
  background: white;
}

#header h1 {
  margin: 0px auto;
  padding-top: 10px;
  font-family: "Hallo";
  color: #000084;
  font-size: 70px;
  text-decoration: underline;
}

#header h3 {
  font-family: "Hallo";
  font-size: 31px;
  margin-top: 0px;
  padding-top: 0px;
}

#footer{
  position: relative;
  height: 50px;
  width: 100%;
}

#sign-out {
  display: inline-block;
  vertical-align: top;
  float: right;
  background-color: #E8E8E8;
  border-radius: 5px;
  width: 60px;
  padding: 4px;
  margin-right: 10px;
  top: 0px;
  text-align: center;
}

IMG.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto
}


/* ===================================== */
/* === LOGIN.ERB :: login and signup === */
/* ===================================== */

#login-form input {
  font-family: "Arial";
  border: 1px solid #DADADA;
  border-radius: 2px;
  color: #888;
  height: 30px;
  width: 350px;
  margin-right: 6px;
  margin-top: 2px;
  outline: 0 none;
  padding: 3px 3px 3px 5px;
  font-size: 16px;
  line-height:15px;
  box-shadow: inset 0px 1px 2px #ECECEC;
  -moz-box-shadow: inset 0px 1px 4px #ECECEC;
  -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}

#signup-form input {
  font-family: "Arial";
  border: 1px solid #DADADA;
  border-radius: 2px;
  color: #888;
  height: 30px;
  width: 350px;
  margin-right: 6px;
  margin-top: 2px;
  outline: 0 none;
  padding: 3px 3px 3px 5px;
  font-size: 16px;
  line-height:15px;
  box-shadow: inset 0px 1px 2px #ECECEC;
  -moz-box-shadow: inset 0px 1px 4px #ECECEC;
  -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}

#login-signup-container {
  margin-top: -10px;
}

h3 {
  font-family: "Hallo";
  font-size: 22px;
}


/* ========================================================= */
/* === SURVEYS/INDEX.ERB :: show all surveys after login === */
/* ========================================================= */

.container {
  border: 1px solid black;
  background-color: yellow;
}

#greeting {
  font-family: Futura;
  font-size: 25px;
  width: 50%;
}

#survey-view {
  width: 70%;
  float: left;
}

#survey-view th {
  font-family: Helvetica;
  border-bottom: 1px solid black;
  padding: 10px;
  font-size: 17px;
}

#survey-view td {
  font-family: Helvetica;
  padding: 12px;
  text-align: center;
  font-size: 16px;
}

#fixed-width {
  width: 230px;
}

#survey-view tr:nth-child(even) {
  background-color: #E8EDE0;
}

#create-survey-button {
  display: inline-block;
  vertical-align: bottom;

  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 5px;
  background: #F78D3F;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  float: right;
  margin-right: 50px;
  margin-bottom: 0px;
}

#create-survey-button span {
  font-family: Futura;
}

.manipulate-survey-buttons {
  font-family: Futura;
  border: 0px solid black;
  /* Jane's edits -- put this in here to trick the input styling on the form */
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 2px;
  background: none;
  font-size: 12px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}



/* ============================================== */
/* === SURVEYS/NEW.ERB :: creating new survey === */
/* ============================================== */

.question-answer{
  display: none;
}

#create-frm h4 {
  font-family: Futura;
  font-size: 18px;
}

#create-frm h3 {
  font-weight: bold;
  font-family: Futura;
}

#create-frm input {
  font-family: "Arial";
  border: 1px solid #DADADA;
  border-radius: 2px;
  color: #888;
  height: 30px;
  width: 350px;
  margin-bottom: 5px;
  margin-right: 6px;
  margin-top: 2px;
  outline: 0 none;
  padding: 3px 3px 3px 5px;
  font-size: 16px;
  line-height:15px;
  box-shadow: inset 0px 1px 2px #ECECEC;
  -moz-box-shadow: inset 0px 1px 4px #ECECEC;
  -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}

textarea {
  font-family: "Arial";
  border: 1px solid #DADADA;
  border-radius: 2px;
  color: #888;
  height: 70px;
  width: 350px;
  margin-bottom: 5px;
  margin-right: 6px;
  margin-top: 2px;
  outline: 0 none;
  padding: 3px 3px 3px 5px;
  font-size: 16px;
  line-height:15px;
  box-shadow: inset 0px 1px 2px #ECECEC;
  -moz-box-shadow: inset 0px 1px 4px #ECECEC;
  -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}

#for_appending h4 {
  font-size: 16px;
  font-family: Arial;
}


/* ===================================================== */
/* === SURVEYS/VIEW.ERB :: viewing individual survey === */
/* ===================================================== */

/* For viewing the survey on survey/view  KEVIN EDITED */


input[type="radio"] {
  margin-left: 10px;
  margin-right: 5px;
}

.survey_layout li {
  list-style-type: none;
}

#question-query {
  font-family: Georgia;
  font-size: 16px;
}




/* ================================================= */
/* === SURVEYS/STATS.ERB :: viewing survey stats === */
/* ================================================= */

#stats_table {
  border: 1px solid black;
}

#stats_table td {
  border: 1px solid black;
}










/* ====================================== */
/* === PREVIOUSLY STYLING FOR BUTTONS === */
/* ====================================== */

/*#centerthatshit {
     width: 100%;
     position: relative;
     margin:0 auto;
}*/

/*#survey-table-container{
  width:200px;
}*/

/*#index-contrainer{
  position:relative;
  margin:0 auto;
}*/

/*#survey-view {
  width:70%;
  float:rigth;
}*/

/*input {
  font-family: "Hallo";
  border: 1px solid #DADADA;
  border-radius: 5px;
  color: #888;
  height: 40px;
  width: 300px;
  margin-bottom: 5px;
  margin-right: 6px;
  margin-top: 2px;
  outline: 0 none;
  padding: 3px 3px 3px 5px;
  font-size: 20px;
  line-height:15px;
  box-shadow: inset 0px 1px 4px #ECECEC;
  -moz-box-shadow: inset 0px 1px 4px #ECECEC;
  -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}*/


/*.btn {
  background: #e503fa;
  background-image: -webkit-linear-gradient(top, #e503fa, #c400ad);
  background-image: -moz-linear-gradient(top, #e503fa, #c400ad);
  background-image: -ms-linear-gradient(top, #e503fa, #c400ad);
  background-image: -o-linear-gradient(top, #e503fa, #c400ad);
  background-image: linear-gradient(to bottom, #e503fa, #c400ad);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #000000;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  float:left;
>>>>>>> added css for login page and index page: new font for 'SurveYoon' header, styled forms for login and signup, styled table displaying all created surveys, changed layout for index page to display button to the right of the table. NEED TO WORK ON: adding some background colors, selecting better default font. NEED TO WORK ON: views for create new survey, edit, share, and stats
}

.btn:hover {
  background: #a8a8a8;
  background-image: -webkit-linear-gradient(top, #a8a8a8, #b8b8b8);
  background-image: -moz-linear-gradient(top, #a8a8a8, #b8b8b8);
  background-image: -ms-linear-gradient(top, #a8a8a8, #b8b8b8);
  background-image: -o-linear-gradient(top, #a8a8a8, #b8b8b8);
  background-image: linear-gradient(to bottom, #a8a8a8, #b8b8b8);
  text-decoration: none;
}*/

/*#centerthatshit {
     width: 100%;
     position: relative;
     margin:0 auto;
}

/*.btn {
  background: #e503fa;
  background-image: -webkit-linear-gradient(top, #e503fa, #c400ad);
  background-image: -moz-linear-gradient(top, #e503fa, #c400ad);
  background-image: -ms-linear-gradient(top, #e503fa, #c400ad);
  background-image: -o-linear-gradient(top, #e503fa, #c400ad);
  background-image: linear-gradient(to bottom, #e503fa, #c400ad);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #000000;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  float:left;
}

.btn:hover {
  background: #a8a8a8;
  background-image: -webkit-linear-gradient(top, #a8a8a8, #b8b8b8);
  background-image: -moz-linear-gradient(top, #a8a8a8, #b8b8b8);
  background-image: -ms-linear-gradient(top, #a8a8a8, #b8b8b8);
  background-image: -o-linear-gradient(top, #a8a8a8, #b8b8b8);
  background-image: linear-gradient(to bottom, #a8a8a8, #b8b8b8);
  text-decoration: none;
}*/
