<div id="create-frm">

  <div id="create_survey_form">
    <form method="post" action="/surveys">
     <p><input type="text" name="title"  placeholder="title"></p>
     <p><input id="create_survey_button" type="submit" value="Start"></p>
   </form>
 </div>

 <div id="for_appending"></div>

 <div class="question-answer">
   <form id="questions_and_answers_form" method="post" action="/questions">
     <p><textarea rows="3" cols="20" name="query" placeholder="Your question here"></textarea></p>

     <div id="answer_choices_div">
       <p><input type="text" name="answer[]" placeholder="Choice"></p>
       <p><input type="text" name="answer[]" placeholder="Choice"></p>
     </div>

     <p><a href="#" class="btn" id="add_answer_option">Add Answer Choices</a></p>
     <p><input id="add_question" type="submit" value="Save Question"></p>
     <p><input id="submit_survey" type="submit" value="Submit Survey"></p>
   </form>
 </div>
