<div id="create-frm">
  <form method="post" action="/surveys/new">
   <p><input type="text" name="title"  placeholder="title"></p>
   <p><input type="submit" name="start" value="Start"></p>
  </form> 
	<div class="question-answer">
	 <form method="post" action="/surveys/new">
	   <p><input type="text" name="question" placeholder="Your question here"></p>
	   <p><input type="text" name="answer[]" placeholder="Choice"><img src="https://www.chicobag.com/images/minus_icon.gif"></p>
	   <p><input type="submit" name="submit-srv" value="Submit Survey"></p>
	 </form>
	<div> 
</div>