<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Survey Yoon Best surveys in the yoonworld</title>
</head>
<body>
  <div id="main-container">
    <div id="header"> 
      <a href="/"> <h1> SurveyYoon </h1> </a>
    </div>
    <% if @user %>
    <div id="welcome">
      Welcome to SurveyYoon <%= @user.username %>
    </div>
    <%end %>  
 </div>  
  <%= yield %>
 <div id="footer">
  Yoon Inc. Fortune 500 Compagny.
 </div> 
</body>
</html>
