<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>SurveYoon: The Best Surveys in the Yooniverse</title>
</head>

<body>
  <div class="main-container">
    <div id="header">
      <a href="/surveys"><h1>SURVEYOON</h1></a>
      <h3>The Best Surveys in the Yooniverse</h3>
    </div>
      <% if @user %>
        <div id="sign-out"><a href="/sessions/<%= session[:user_id] %>">Logout</a></div>
        <div id="sign-out"><a href="/surveys %>">Home</a></div>
      <% end %>
    <%= yield %>
  </div>
<br><br><br><br>
</body>
</html>