<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Survey Yoon Best surveys in the yoonworld</title>
</head>
<body>
  <div id="main-container">
    <div id="header">
      <a href="/surveys"><h1>SURVEYOON</h1></a>
      <% if @user %>
        <a id="sign-out" href="/sessions/<%= session[:user_id] %>">Logout</a>
      <% end %>
    </div>
    <%= yield %>
  </div>
</body>
</html>